table, th, td {
  border: 1px solid black;
  
}
table{
  border-collapse: collapse;
}
th{
  padding: 10px;
  
}




.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: center;
  color: rgb(2, 196, 255);
}


@media screen and (max-width: 600px) {
  table th, table td {
    padding: 4px;
    font-size: 12px;
  }
}
h1{
  text-align: center;
}